
@{
    ViewBag.Title = "FileUpload";
}

<h2>FileUpload</h2>

<form action="@Url.Action("FileUpload")" method="post" enctype="multipart/form-data">
    <label for="file">Filename:</label>
    <input type="file" name="file" id="file" />
    <input type="submit" />
</form>